In [178]:
import pandas as pd
import numpy as np

In [179]:
df= pd.read_csv("netflix_titles.csv")

In [180]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [181]:
df.shape

(8807, 12)

In [182]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [183]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [184]:
len(df.columns)

12

In [185]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [186]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

# Required Columns

Director
release year
cast
type
Country
title
Duration
rating -->

# FEATURE EXTRACTION

In [187]:
df1= df.drop(["show_id","description","date_added","listed_in"],axis=1)

In [188]:
df1.head()

,type,title,director,cast,country,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,2020,PG-13,90 min
1,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,TV-MA,2 Seasons
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,2021,TV-MA,1 Season
3,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,2021,TV-MA,1 Season
4,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,TV-MA,2 Seasons

In [189]:
df1.shape

(8807, 8)

In [190]:
df1.isnull().sum()

type               0
title              0
director        2634
cast             825
country          831
release_year       0
rating             4
duration           3
dtype: int64

In [191]:
df2= df1.fillna(" ")

In [192]:
df2.isnull().sum()

type            0
title           0
director        0
cast            0
country         0
release_year    0
rating          0
duration        0
dtype: int64

In [193]:
df2["duration"].unique()

array(['90 min', '2 Seasons', '1 Season', '91 min', '125 min',
       '9 Seasons', '104 min', '127 min', '4 Seasons', '67 min', '94 min',
       '5 Seasons', '161 min', '61 min', '166 min', '147 min', '103 min',
       '97 min', '106 min', '111 min', '3 Seasons', '110 min', '105 min',
       '96 min', '124 min', '116 min', '98 min', '23 min', '115 min',
       '122 min', '99 min', '88 min', '100 min', '6 Seasons', '102 min',
       '93 min', '95 min', '85 min', '83 min', '113 min', '13 min',
       '182 min', '48 min', '145 min', '87 min', '92 min', '80 min',
       '117 min', '128 min', '119 min', '143 min', '114 min', '118 min',
       '108 min', '63 min', '121 min', '142 min', '154 min', '120 min',
       '82 min', '109 min', '101 min', '86 min', '229 min', '76 min',
       '89 min', '156 min', '112 min', '107 min', '129 min', '135 min',
       '136 min', '165 min', '150 min', '133 min', '70 min', '84 min',
       '140 min', '78 min', '7 Seasons', '64 min', '59 min', '139 min',
       '69 min', '148 min', '189 min', '141 min', '130 min', '138 min',
       '81 min', '132 min', '10 Seasons', '123 min', '65 min', '68 min',
       '66 min', '62 min', '74 min', '131 min', '39 min', '46 min',
       '38 min', '8 Seasons', '17 Seasons', '126 min', '155 min',
       '159 min', '137 min', '12 min', '273 min', '36 min', '34 min',
       '77 min', '60 min', '49 min', '58 min', '72 min', '204 min',
       '212 min', '25 min', '73 min', '29 min', '47 min', '32 min',
       '35 min', '71 min', '149 min', '33 min', '15 min', '54 min',
       '224 min', '162 min', '37 min', '75 min', '79 min', '55 min',
       '158 min', '164 min', '173 min', '181 min', '185 min', '21 min',
       '24 min', '51 min', '151 min', '42 min', '22 min', '134 min',
       '177 min', '13 Seasons', '52 min', '14 min', '53 min', '8 min',
       '57 min', '28 min', '50 min', '9 min', '26 min', '45 min',
       '171 min', '27 min', '44 min', '146 min', '20 min', '157 min',
       '17 min', '203 min', '41 min', '30 min', '194 min', '15 Seasons',
       '233 min', '237 min', '230 min', '195 min', '253 min', '152 min',
       '190 min', '160 min', '208 min', '180 min', '144 min', '5 min',
       '174 min', '170 min', '192 min', '209 min', '187 min', '172 min',
       '16 min', '186 min', '11 min', '193 min', '176 min', '56 min',
       '169 min', '40 min', '10 min', '3 min', '168 min', '312 min',
       '153 min', '214 min', '31 min', '163 min', '19 min', '12 Seasons',
       ' ', '179 min', '11 Seasons', '43 min', '200 min', '196 min',
       '167 min', '178 min', '228 min', '18 min', '205 min', '201 min',
       '191 min'], dtype=object)

In [194]:
g= df2.groupby("type")
Movie=g.get_group("Movie")
TV_show=g.get_group("TV Show")

In [195]:
Movie

,type,title,director,cast,country,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,,United States,2020,PG-13,90 min
6,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",,2021,PG,91 min
7,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min
9,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,PG-13,104 min
12,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,TV-MA,127 min
...,...,...,...,...,...,...,...,...
8801,Movie,Zinzana,Majid Al Ansari,"Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...","United Arab Emirates, Jordan",2015,TV-MA,96 min
8802,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2007,R,158 min
8804,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2009,R,88 min
8805,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2006,PG,88 min
8806,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2015,TV-14,111 min

In [196]:
TV_show

,type,title,director,cast,country,release_year,rating,duration
1,TV Show,Blood & Water,,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,2021,TV-MA,2 Seasons
2,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",,2021,TV-MA,1 Season
3,TV Show,Jailbirds New Orleans,,,,2021,TV-MA,1 Season
4,TV Show,Kota Factory,,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,TV-MA,2 Seasons
5,TV Show,Midnight Mass,Mike Flanagan,"Kate Siegel, Zach Gilford, Hamish Linklater, H...",,2021,TV-MA,1 Season
...,...,...,...,...,...,...,...,...
8795,TV Show,Yu-Gi-Oh! Arc-V,,"Mike Liscio, Emily Bauer, Billy Bob Thompson, ...","Japan, Canada",2015,TV-Y7,2 Seasons
8796,TV Show,Yunus Emre,,"Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...",Turkey,2016,TV-PG,2 Seasons
8797,TV Show,Zak Storm,,"Michael Johnston, Jessica Gee-George, Christin...","United States, France, South Korea, Indonesia",2016,TV-Y7,3 Seasons
8800,TV Show,Zindagi Gulzar Hai,,"Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...",Pakistan,2012,TV-PG,1 Season
8803,TV Show,Zombie Dumb,,,,2018,TV-Y7,2 Seasons

In [197]:
df3= pd.concat([Movie,show])

In [198]:
df3.head()

,type,title,director,cast,country,release_year,rating,duration
0,Movie,Dick Johnson Is Dead,Kirsten Johnson,,United States,2020,PG-13,90 min
6,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",,2021,PG,91 min
7,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...",1993,TV-MA,125 min
9,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,2021,PG-13,104 min
12,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic",2021,TV-MA,127 min

# QUESTIONS

# 1. Indian movies released in year 2000

In [199]:
indian_movies=df3[(df3["release_year"]== 2000) & (df3["country"]== "India") & (df3["type"]== "Movie")]["title"]

In [200]:
indian_movies

4723                           Fiza
4956    Phir Bhi Dil Hai Hindustani
6440                 Chal Mere Bhai
6912      Hamara Dil Aapke Paas Hai
7247                      Kya Kehna
7702                 Papa the Great
7801                          Pukar
Name: title, dtype: object

In [201]:
indian_movies.to_list()

['Fiza',
 'Phir Bhi Dil Hai Hindustani',
 'Chal Mere Bhai',
 'Hamara Dil Aapke Paas Hai',
 'Kya Kehna',
 'Papa the Great',
 'Pukar']

In [202]:
indian_movies.to_list()[3]

'Hamara Dil Aapke Paas Hai'

# 2. Top 5 Directors who has directed more number of TV_Shows or Movies

In [203]:
df3["director"].value_counts()[0:6]

                          2634
Rajiv Chilaka               19
Raúl Campos, Jan Suter      18
Marcus Raboy                16
Suhas Kadav                 16
Jay Karas                   14
Name: director, dtype: int64

# 3. Cast of any particular movie

In [204]:
l= df3[df3["title"]== "Sankofa"]["cast"]

In [205]:
l= l.to_list()

In [206]:
l

['Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra Duah, Nick Medley, Mutabaruka, Afemo Omilami, Reggie Carter, Mzuri']

# 4. How many Movies & TV Shows are in the dataset?

In [207]:
len(Movie)

6131

In [208]:
len(show)

2676

In [209]:
df3["type"].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

# 5.show only titles of all TV Shows that released in Egypt

In [210]:
df3[(df3["type"]== "TV Show") & (df3["country"]== "Egypt")]["title"]

1201    Abla Fahita: Drama Queen
1229                      My Way
1570            Once Upon a Time
1658                   Valentino
1737                  Paranormal
4022                 More to Say
4023       The Land of Hypocrisy
4026              Eugenie Nights
4027                This Evening
4030               Disappearance
4125    The Last of the Schmucks
4126               Hidden Worlds
4130                       Tayee
4984          Secret of the Nile
Name: title, dtype: object

# 6.In how many Movies and TV shows , duration was 100 minute

In [211]:
Movies_duration= df3[(df3["duration"]=="100 min")| (df3["type"]=="TV Show")][["type","title","duration"]]

In [212]:
Movies_duration

         type                                              title   duration
54      Movie  InuYasha the Movie: Affections Touching Across...    100 min
140     Movie                El patrón, radiografía de un crimen    100 min
300     Movie                                               Vivo    100 min
455     Movie               Emicida: AmarElo - Live in São Paulo    100 min
461     Movie                                  The Unknown Saint    100 min
...       ...                                                ...        ...
8795  TV Show                                    Yu-Gi-Oh! Arc-V  2 Seasons
8796  TV Show                                         Yunus Emre  2 Seasons
8797  TV Show                                          Zak Storm  3 Seasons
8800  TV Show                                 Zindagi Gulzar Hai   1 Season
8803  TV Show                                        Zombie Dumb  2 Seasons

[2784 rows x 3 columns]

# EDA

# 1. Total Number of Indian TV Shows released every year.

In [213]:
g=df3.groupby("type")

In [214]:
shows= g.get_group("TV Show")

In [215]:
df4= show[show["country"]== "India"]
df4

,type,title,director,cast,country,release_year,rating,duration
4,TV Show,Kota Factory,,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,2021,TV-MA,2 Seasons
39,TV Show,Chhota Bheem,,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",India,2021,TV-Y7,3 Seasons
50,TV Show,Dharmakshetra,,"Kashmira Irani, Chandan Anand, Dinesh Mehta, A...",India,2014,TV-PG,1 Season
66,TV Show,Raja Rasoi Aur Anya Kahaniyan,,,India,2014,TV-G,1 Season
69,TV Show,Stories by Rabindranath Tagore,,,India,2015,TV-PG,1 Season
...,...,...,...,...,...,...,...,...
8173,TV Show,Thackeray,,,India,2019,TV-MA,1 Season
8235,TV Show,The Calling,Bumpy,,India,2018,TV-MA,1 Season
8321,TV Show,The Golden Years with Javed Akhtar,,,India,2016,TV-G,1 Season
8349,TV Show,The House That Made Me,,Vinay Pathak,India,2015,TV-PG,3 Seasons
8775,TV Show,Yeh Meri Family,,"Vishesh Bansal, Mona Singh, Akarsh Khurana, Ah...",India,2018,TV-PG,1 Season

In [216]:
df4["release_year"].value_counts()

2020    16
2019    13
2018    13
2021     9
2015     9
2014     5
2017     3
2013     3
2010     3
2012     2
2009     1
2011     1
2016     1
Name: release_year, dtype: int64

# 2. Number of TV Shows and Movies released every year World Wide.

In [217]:
m= Movie["release_year"].value_counts()
m

2017    767
2018    767
2016    658
2019    633
2020    517
       ...
1966      1
1961      1
1946      1
1963      1
1947      1
Name: release_year, Length: 73, dtype: int64

In [218]:
s=show["release_year"].value_counts()
s

2020    436
2019    397
2018    380
2021    315
2017    265
2016    244
2015    162
2014     88
2012     64
2013     63
2010     40
2011     40
2009     34
2008     23
2006     14
2007     14
2005     13
2003     10
2004      9
1999      7
2002      7
2001      5
1993      4
2000      4
1997      4
1998      4
1990      3
1996      3
1992      3
1995      2
1994      2
1988      2
1986      2
1989      1
1967      1
1985      1
1946      1
1981      1
1972      1
1979      1
1977      1
1991      1
1974      1
1925      1
1945      1
1963      1
Name: release_year, dtype: int64

# 3. Number of Movies Released in every Rating Category.

In [219]:
r= Movie["rating"].value_counts()
r

TV-MA       2062
TV-14       1427
R            797
TV-PG        540
PG-13        490
PG           287
TV-Y7        139
TV-Y         131
TV-G         126
NR            75
G             41
TV-Y7-FV       5
NC-17          3
UR             3
               2
74 min         1
84 min         1
66 min         1
Name: rating, dtype: int64

# 4. Which Country has the heighest no of TV Shows.

In [221]:
TV_show["country"].value_counts()

United States                                    760
                                                 391
United Kingdom                                   213
Japan                                            169
South Korea                                      158
                                                ...
Belarus                                            1
United Kingdom, Australia                          1
France, Australia, Germany                         1
Australia, New Zealand, United States              1
United States, France, South Korea, Indonesia      1
Name: country, Length: 197, dtype: int64